main{
	padding-bottom: 0 !important;
}

.grid{}
.grid .bx_content_section{
	margin-bottom: 15px;
}
.grid .bx_sidebar{
	margin-bottom: 15px;
}

/* grid2x1 */
.grid2x1{}
.grid2x1 .bx_content_section{
	float: right;
	width: 950px;
	margin-bottom: 15px;
}
.grid2x1 .bx_sidebar{
	/*float: left;
	/*width: 18.21%;*/
	/*width: 216px;*/
	/*margin-bottom: 15px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box; */
}
@media (max-width:960px){

}
@media (max-width:640px) {
	.grid2x1 .bx_content_section,
	.grid2x1 .bx_sidebar{
		width: 100%;
		float: none;
	}
	.grid2x1 .bx_sidebar{
		padding-left: 3%;
	}
}
@media (max-width:479px){
	.grid2x1 .bx_sidebar{
		padding-left: 1%;
	}

}

/*filter*/
.catalog-section-filter{
	height:40px;
	margin-bottom:42px;
	border: 1px solid #94bfdc;
	background-color: #eaf2f8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.catalog-section-filter .option{
	height: 16px;
	padding: 4px 20px;
	margin: 8px 0;
	border-left: 1px solid #94bfdc;
	float: left;
}
.catalog-section-filter .option:nth-child(1){padding-right:30px; border-left:0;}
.catalog-section-filter .option:nth-child(2){padding-right:80px}
.catalog-section-filter .option:nth-child(3){padding-right:0px}
.catalog-section-filter .option span{
	display:block;
	float:left;
	margin-top: 2px;
	margin-right:7px;
}
.catalog-section-filter .option a.ico{
	display:block;
	float:left;
	height:14px;
	min-width:14px;
	padding:2px 4px 4px;
	background-image:url(/images/catalog-section-sprite.png);
	background-position: 0px -100px;
	background-repeat:no-repeat;
	margin-left:7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration:none;
	color:#1763a6;
}
.catalog-section-filter .option a.active{
	background-color:#fff;
	padding: 1px 4px 3px;
	border: 1px solid #94bfdc;
	color:#000;
}
.catalog-section-filter .option a.ico:not(.active):hover{
	text-decoration:underline;
}
.catalog-section-filter .option a.ico-1{background-position:3px 3px; padding: 1px 3px 3px;}
.catalog-section-filter .option a.ico-1.active {background-position:2px 2px; padding: 1px 2px 3px;}

.catalog-section-filter .option a.ico-2{background-position:-18px 3px; padding: 1px 3px 3px;}
.catalog-section-filter .option a.ico-2.active {background-position:-19px 2px; padding: 1px 2px 3px;}

.catalog-section-filter .option a.active i.ico-arrow {
	display: inline-block;
	height: 12px;
	width: 7px;
	margin: 0 0 -2px 2px;
	background-image: url(/images/catalog-section-sprite.png);
	background-position: -102px 0px;
	background-repeat:no-repeat;
}
.catalog-section-filter .option a.active i.ico-arrow.down {
	background-position: -113px 0px;
}
.descriptionBlock{
    max-width: 1180px;
    margin: 0 auto;
}