.col-vtop {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.size_item {
    padding: 0 15px;
    margin-bottom: 10px;
}
.size_item a {
    color: #000;
    border-bottom: 1px solid #f7df10;
}
.size_item a:hover {
    color: #F44336;
    border-bottom-color: transparent;
}
.size_title{
    margin-bottom: 15px;
}
.group-prod .collections .section-header {
    font-size: 25px;
    font-weight: 300;
    color: #0f0f0f;
}
.group-prod .collections .section-header.section-header-with-sizes {
    padding-bottom: 5px;
}
.group-prod .collections .section-header a {
    border: none!important;
}
.size_block{
    padding: 10px 0!important;
}
.group-prod .section:not(.no_border){
    border-bottom: 1px solid #ccc;
}
.group-prod .section {
    margin-bottom: 25px;
    padding-bottom: 25px;
}
.group-prod .collections .sizes_list {
    margin-bottom: 15px;
}
.group-prod .collections ul {
    list-style: none;
}
.group-prod .collections ul li:before{
    display: none;
}
.group-prod .collections .img-wrap {
    overflow: hidden;
    margin: 0 0 15px 0;
    padding-bottom: 0!important;
    text-align: center;
}
.group-prod .collections .img-wrap>a {
    display: block;
    border: none;
}
.group-prod .collections .img-wrap .articul {
    display: block;
    margin-top: 3px;
}
.btn-more{
    color: #fff!important;
    padding: 9px 0!important;
    font-size: 14px!important;
}
.btn-more:hover{
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .4);
    color: #fff!important;

}
.wrap-btn-more{
    margin-top: 15px;
}