#top-panel ul ul{
    display: none;
    position: absolute;
    top: 39px;
    left: 0;
    background: #000;
    z-index: 99;
}
#top-panel li{
    position: relative;
}
#top-panel ul ul a{
    padding: 0 15px!important;
}
#top-panel ul ul li{
    float: inherit;
    display: block;
    width: 100%;
}
#top-panel li.parent:hover ul{
    display: block;
}