body[contenteditable="true"] ul li,
.content ul li {
    list-style: disc;
    margin:0 0 10px 18px;
}
body[contenteditable="true"] ol li,
.content ol li {
    list-style: decimal;
    margin:0 0 10px 20px;
}
h1 {
    font-size: 25px;
    font-weight: 500;
    color: #0f0f0f;
    margin-bottom:35px;
}
.content h2 {
    font-size: 20px;
    font-weight: 500;
    color: #0f0f0f;
    margin-bottom:25px;
}
.content h3 {
    font-size: 18px;
    font-weight: 300;
    color: #0f0f0f;
    margin-bottom:15px;
}
a {
    text-decoration:none;
    color:#000;
}
.content a {
    color:#000;    
    border-bottom: solid 1px #ffb400;
}
.content a:hover {
    color:#ffb400
}
a.live {
    position: absolute;
    margin-top: -40px;
}
footer .copyright-block small a{color: #feb014 !important;}

.present-line {line-height:140px; background-color:#f5aa13; position:absolute; left:0; right:0; margin-top:30px; text-align:center;}
.present-line .hdr {display:inline-block; font-size:24px; color:#000;}
.present-line .pdf-icon {display:inline-block; margin-left:60px;}
.present-line .btn-download {display:inline-block; line-height:36px; background-color:#fff; border-radius:18px; padding:0 35px; margin-left:25px;}

.about-brands {margin:50px 0 150px; height:120px;}
.about-brands .logo-block {width:270px; height:120px; text-align:center; border-right:5px solid #e8e8e8;}
.about-brands .logo-block img {width:180px; position:relative; top:50%; transform:translate(0,-50%);}
.about-brands .about-logos {margin-left:30px; text-align:center;}
.about-brands .about-logos .logo-item {display:inline-block; text-decoration:none; border-bottom:0;}
.about-brands .about-logos .logo-item img {max-height:50px; margin:10px 10px;}

.about-thanks {margin:50px 0;}
.about-sertificates {margin-top:350px;}
.slider {width:100%; position:relative; overflow:hidden;}
.slider .carousel {height:100%; width:100%; overflow:hidden;}
.slider .carousel .slide-item {display:inline-block; margin:0 50px;}
.slider .btn-prev, 
.slider .btn-next {width:36px; height:13px; position:absolute; z-index:999; top:50%; transform:translate(0,-50%); cursor:pointer;}
.slider .btn-prev {left:0px; background: transparent url('/local/templates/main-responsive/img/main-slider-arrow-left.png') 50% 50% no-repeat;}
.slider .btn-next {right:0px; background: transparent url('/local/templates/main-responsive/img/main-slider-arrow-right.png') 50% 50% no-repeat;}

.slider.sert {height:214px;}
.slider.sert .carousel img {height:209px; max-height:100%;}
.slider.thanks {max-height:225px;}
.slider.thanks .carousel .slide-item {width:470px; margin:0 20px; /*border:1px solid #ddd;*/}
.slider.thanks .carousel .img {float:left; width:150px;}
.slider.thanks .carousel .img img {max-width:100%; height:auto; max-height:100%;}
.slider.thanks .carousel .info {float:right; width:300px;}
.slider.thanks .carousel .info .title {font-size:15px; font-weight:bold; margin-bottom:15px;}
.slider.thanks .carousel .info .date {display:inline-block; background-color:#f4f4f4; margin-bottom:15px; padding:5px 10px;}
.slider.thanks .carousel .info .intro {font-size:13px; margin-bottom:15px;}
.slider.thanks .carousel .info .more {font-size:13px;}

.khimiya .col-xs-4 {width: 33% !important;}
.khimiya .catalog-grid__item-title:before {display: none;}
.khimiya .catalog-grid__item-title{height: 84px !important;}
.him td, .him th { padding: 2px 3px;text-align: center !important;border: 1px solid;}