* {outline: none !important;}
.col-vmid {display: inline-block;float: none;vertical-align: middle;}
.col-vtop {display: inline-block;float: none;vertical-align: top;}
.container {
    min-width:1170px;
    width:1170px!important
}
/*запрет выделения элемента*/
.unsel {
    -webkit-user-select:      none;
       -moz-user-select: -moz-none;
        -ms-user-select:      none;
            user-select:      none;
    -khtml-user-select: none;
}
/*запрет выделения элемента --- конец*/
html,
body {
    width: 100%;
    min-width: 1170px;
    font-family: 'Fira Sans', sans-serif !important;
    position: relative;
    height: 100%;
    min-height: 100%;
    color:#000
}

body {
    padding-top: 74px;
}

.clr {
    font-size: 0;
    display: block;
    clear: both;
    overflow: hidden;
    width: 100%;
    height: 0;
}

/*Крошки*/
.bx-breadcrumb {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}
.bx-breadcrumb {
	margin: 25px 0 35px;
}
.bx-breadcrumb i {
	color: #b5bdc2;
	line-height: 13px;
	font-size: 12px;
	vertical-align: middle;
	margin-right: 14px;
}
.bx-breadcrumb .bx-breadcrumb-item {
	display:inline-block;
	white-space: nowrap;
	line-height: 13px;
	vertical-align: middle;
	margin-right: 14px;
}

.bx-breadcrumb .bx-breadcrumb-item span {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;

}
.bx-breadcrumb .bx-breadcrumb-item a {
    color:#0f0f0f;
}
.bx-breadcrumb .bx-breadcrumb-item a:hover {
	text-decoration: none; 
    color:#ffb400;
 }
 .bx-breadcrumb-item:last-child a {
	border-bottom: solid 1px #ffb400;
}
/*Крошки --- конец*/

/*  HEADER */
.logo-link img {
    max-width:100%
}
.site-header {
    padding: 9px 0;
    background: #000;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    z-index:20;
        -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.main-menu {
    margin-bottom: 0;
    padding-left: 0;
}
.main-menu > li {
    position: relative;
    display: inline-block;
}
.main-menu > li > a, .main-menu > li > span.active {
    font-size: 17px;
    position: relative;
    position: relative;
    z-index: 1;
    display: block;
    padding-top: 15px;
    padding-right: 34px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #fff;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    background: #000;
}
.main-menu > li > a[href="javascript:void(0)"] {
    cursor:default!important
}
.main-menu > li > a.active {
    color:#feb014
}
.main-menu > li.have-menu > a:after {
    position: absolute;
    top: 20px;
    right: 14px;
    display: block;
    width: 13px;
    height: 13px;
    content: '';
    background: transparent url('img/menu-arrow.png') 50% 50% no-repeat;
}
.main-menu > li.have-menu:hover > a:after {
    background: transparent url('img/menu-arrow-up.png') 50% 50% no-repeat;
}
.main-menu > li.have-menu:hover > a {
    z-index: 9999;
    border-top: 1px solid #575757;
    border-right: 1px solid #575757;
    border-bottom: none;
    border-left: 1px solid #575757;
}
.main-menu li ul.submenu {
    position: absolute;
    z-index: 2;
    margin-top:-1px;
    left: 0;
    display:none;   
    min-width: 211px;
    padding-left: 0;
    color: #fff;
    border: 1px solid #575757;
    background: #000;
    list-style: none;
}
.main-menu li.have-menu:hover .submenu {
    display:block;
}
.main-menu .submenu {
    padding-top: 15px;
    padding-bottom: 8px;
}
.main-menu .submenu > li a, .main-menu .submenu > li span {
    font-size: 14px;
    font-weight: 300;
    display: block;
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 15px;
    color: #fff;
}
.main-menu li.submenu:hover + ul,
.submenu li .submenu + ul:hover {
    display: block;
}
.main-menu li .submenu:after {
    background: url('img/menu-arrow.png') no-repeat;
}
.main-menu li a:hover,
.main-menu li a:active,
.main-menu li a:focus {
    text-decoration: none;
    color: #feb014;
}
.search-bar {
    font-size: 15px;
    position: relative;
    display: inline-block;
    width: 165px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    text-align: center;
    color: #feb014;
    border: 2px solid #575757;
    -webkit-border-radius: 48px;
       -moz-border-radius: 48px;
            border-radius: 48px;
}
.search-bar:active,
.search-bar:hover,
.search-bar:focus {
    text-decoration: none;
    color: #fff;
    border: 2px solid #feb014;
}
.search-bar:after {
    position: absolute;
    top: 8px;
    display: inline-block;
    width: 18px;
    height: 17px;
    margin-left: 5px;
    content: ' ';
    background: url('img/loop.png') no-repeat;
}
.search-bar.min {width:20px; padding-right:0; border:0; color:#000;}
.search-bar.min:after {margin-left:0; left:0; top:-3px;}
.search-bar:hover {
    text-decoration: none;
    color: #feb014;
}
.site-header .h-phone {display:inline-block; width:160px; color:#fff; position:absolute; top:-2px; font-size:18px; margin-left:10px; font-weight:500;}
.site-header .h-phone.hide {display:none;}

/* MAIN */

.inner-pages {
    padding-bottom: 20px;
}
.my-slider {
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 0;
    position: relative;
    z-index:1;
}
.my-slider-item {
    position: relative;
}
.my-slider-item a {
    font-size: 17px;
    font-weight: 400;
    margin: auto;
    padding:5px 25px;
    border-radius:5px;
    text-align: center;
    text-decoration: none;
    color: #face76;
    background:rgba(0,0,0,.25);
    border:2px solid #face76;
    text-shadow: none;
}
.my-slider-item a:hover {
    background:rgba(0,0,0,.35);
}
.my-slider-item .my-slider-item__img-cont {
    position: relative;
    margin-top: -75px;
    margin-bottom: -262px;
    padding-top: 74px;
    padding-bottom: 262px;
    background-position: 50% 50%;
    -webkit-background-origin: content-box;
       -moz-background-origin: content-box;
         -o-background-origin: content-box;
            background-origin: content-box;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.my-slider-item p.title {
    font-size: 40px;
    position: absolute;
    bottom: 130px;
    margin-bottom: 0;
    color: #fff;
    line-height: 1.3;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.my-slider-item p.title span {
    display:block
}
.my-slider .slick-dots {
    position: static;
    display: block;
    width: 1170px;
    max-width: 1170px;
    height: 84px;
    margin-top: -94px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
    text-align: left;
}
.bn-index .slick-dots li:hover button:before,
.slick-dots li.slick-active button:before {
    color: #feb014;
}

.slick-dots li button:before {
    font-size: 0;
    line-height: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 20px;
    padding: 0;
    cursor: pointer;
    opacity: .7;
    color: transparent;
    border: 0;
    border: 2px solid #e4e4e5;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: transparent;
}
.slick-dots li button:before:hover {
    opacity: 1;
}
.slick-dots li.slick-active button:before {
    width: 10px;
    height: 10px;
    opacity: 1;
    border: 0;
    background: #feb014;
}


/* ****** MAIN CATEGORIES ******* */
.main-categories {
/*     height: 72px; */
	height: 102px;
    background: #000;
}
.main-categories .title {
	font-size: 16px;
	display: inline-block;
	margin-right: 53px;
	color: #fff;
	font-weight: 600;
	padding: 13px 0;
}
.main-categories ul {
    display: inline-block;
    height: 100%;
    margin-bottom: 0;
    padding: 0;
    vertical-align: middle;
}
.main-categories li {
    display: inline-block;
}
.main-categories a {
    line-height: 70px;
    /*height: 72px;*/
	height: 102px;
    display: block;
    width: 93px;
    /*border: solid 1px #272727;*/
	border-left: solid 1px transparent;
	border-right: solid 1px transparent;
    background-repeat: no-repeat;
/*     background-position: 50%; */
	background-position: 50% 25%;
}
.main-categories a:hover {
    /*border: solid 1px #feb014;*/
	background-color:rgba(255,255,255,0.2);
	border-left: solid 1px #777;
	border-right: solid 1px #777;
}
.main-categories a .cat-name {
	position: relative;
	top: 50px;
/*	left: 5px;
	right: 5px;*/
	color: #fff;
	display: table-cell;
	height: 40px;
	width:93px;
	text-align: center;
	font-size:11px;
	line-height:12px;
	vertical-align:middle;
	color:#555;
	font-weight:bold;
}
.main-categories a:hover .cat-name {
	color:#fff;
}
.main-categories__tool-tip {
    display: none;
}
.main-categories li {
    position: relative;
}
.main-categories li:hover .main-categories__tool-tip {
    position: absolute;
    z-index: 3;
    top: -70px;
    left: 50%;
    display: block;
    width: 190px;
    margin-left: -95px;
    padding: 12px 16px;
    text-align: center;
    opacity: .8;
    color: #f0efef;
    background-color: #212121;
}
.main-categories li:hover .main-categories__tool-tip:after {
    position: absolute;
    z-index: 2;
    bottom: -12px;
    left: 50%;
    display: block;
    width: 25px;
    height: 25px;
    margin-left: -12px;
    content: '';
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: .8;
    background-color: #212121;
}


/* *********** MAIN LOGOS *********** */
.main-logos {
	padding-top:20px;
    background:#fff;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .16);
       -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .16);
            box-shadow: 0 1px 6px rgba(0, 0, 0, .16);
    position: relative;
    z-index:3;
}
.main-logos .logo-item a {
    line-height: 190px;
    display: block;
    margin: 0 22px;
    text-align: center;
}
.main-logos .slick-slide img {
    display: inline;
    max-width: 100%;
}
.main-logos .slick-slide:first-child {border-left:1px solid transparent;}
.main-logos .slick-slide:not(:first-child) {border-left:1px solid #fff;}
.main-logos .slick-prev,
.main-logos .slick-next {
    width: 38px;
    height: 13px;
    opacity: .6;
}
.main-logos .slick-prev:hover,
.main-logos .slick-next:hover {
    opacity: 1;
}
.main-logos .slick-prev {
    left: 0;
    background: transparent url('img/main-slider-arrow-left.png') 50% 50% no-repeat;
}
.main-logos .slick-next {
    right: 0;
    background: transparent url('img/main-slider-arrow-right.png') 50% 50% no-repeat;
}
.main-logos .logo-slider {
    margin-bottom: 0;
}
.main-logos .logo-slider.with_padding {
    padding-right: 30px;
    padding-left: 30px;
}
.main-logos .logo-slider .logo-item img {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
}
.main-logos .logo-slider .logo-item:hover img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}
.main-logos .slick-slider {
    margin-bottom: 0;
}
.slick-prev:before,
.slick-next:before {
    display: none;
}

/* ************ MAIN PROJECTS ************ */
.main-projects {
    margin-top: 2px;
    padding-top: 41px;
    background-color: #f4f4f4;
}
.main-projects h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0  0 45px;
}
.main-projects .slick-slider {
    margin: 0 -15px 130px;
}
.main-projects .project-item {
    height: 283px;
    margin: 0 15px;
}
.main-projects .project-item a {
    position: relative;
    display: block;
    overflow: hidden;
}
.main-projects .project-item a:before {
    position: absolute;
    z-index: 1;
    top: 18px;
    right: 16px;
    display: block;
    width: 46px;
    height: 28px;
    content: ' ';
    background: url('img/project-logo.png') no-repeat;
}
.main-projects .project-item a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 360px;
    height: 146px;
    content: ' ';
    background: url('img/project-shadow.png') no-repeat;
}
.main-projects .project-item p {
    font-size: 18px;
    line-height: 21px;
    position: absolute;
    z-index: 1;
    bottom: 27px;
    left: 24px;
    width: 262px;
    margin-bottom: 0;
    color: #fff;
}
.main-projects .item-shadow {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0,0,0,.70);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';
        filter: alpha(opacity=0);
}
.main-projects .slick-dots {
    bottom: -55px;
}
.main-projects .slick-dots li button:before {
    font-size: 0;
    line-height: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 20px;
    padding: 0;
    cursor: pointer;
    opacity: .5;
    color: transparent;
    border: 0;
    border: 2px solid #212121;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: transparent;
}
.main-projects .slick-dots li button:before:hover {
    opacity: 1;
}
.main-projects .slick-dots li.slick-active button:before {
    width: 10px;
    height: 10px;
    opacity: 1;
    border: 0;
    background: #feb014;
}
.main-projects .slick-slider .arr_right {
    display: inline-block;
    width: 36px;
    height: 13px;
    margin-right: 10px;
    cursor: pointer;
    vertical-align: middle;
    opacity: .6;
    background: transparent url('/local/templates/main-responsive/img/main-slider-arrow-right.png') 50% 50% no-repeat;
}
.main-projects .slick-slider .arr_right:hover {
    opacity: 1;
}
.slick-dots li {
    vertical-align: middle;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding-right: 20px;
    cursor: pointer;
    vertical-align: middle;
    color: transparent;
    border: 0;
    background: transparent;
}
.main-projects .slick-slider .arr_left {
    display: inline-block;
    width: 36px;
    height: 13px;
    margin-right: 20px;
    cursor: pointer;
    vertical-align: middle;
    opacity: .6;
    background: transparent url('img/main-slider-arrow-left.png') 50% 50% no-repeat;
}
.main-projects .slick-slider .arr_left:hover {
    opacity: 1;
}

.project-item .top-line,
.project-item .left-line {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 29px;
    display: block;
    -webkit-transition: all .6s ;
       -moz-transition: all .6s ;
         -o-transition: all .6s;
            transition: all .6s;
    opacity: 0;
    background: #e19e19;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';
        filter: alpha(opacity=0);
}
.project-item .top-line {
    left: -292px;
    width: 160px;
    height: 3px;
}
.project-item .left-line {
    top: -282px;
    width: 3px;
    height: 120px;
}
.project-item:hover .top-line {
    left: 29px;
}
.project-item:hover .left-line {
    top: 30px;
}
.project-item:hover .top-line,
.project-item:hover .left-line,
.project-item:hover .item-shadow {
    opacity: 1;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=1)';
        filter: alpha(opacity=100);
}
.project-slider .bn-index .slick-dots li:hover button:before,
.project-slider .slick-dots li.slick-active button:before {
    color: #feb014;
}
.project-slider .slick-dots li button:before {
    color: #000;
}
.project-slider-main button.slick-arrow {
    display:none!important
}
/* ----------------- CATALOG ---------------------- */

/* ****** LEFT-BAR ****** */
.left-catalog-menu {
    float: left;
    border: solid 1px #e1e1e1;
}
.left-catalog-menu .title {
    font-size: 25px;
    font-weight: 500;
    line-height: 56px;
    margin: 0;
    padding: 0 0 0 21px;
    color: #0f0f0f;
    border-bottom: solid 1px #e1e1e1;
}
.left-catalog-menu .catalog-section-list ul {
    margin-bottom: 0;
    padding-left: 0;
}
.left-catalog-menu .catalog-section-list > ul > li:last-of-type {
    border: none;
}
.left-catalog-menu .catalog-section-list li {
    list-style: none;
    border-bottom: solid 1px #e1e1e1;
    margin:0
}
.left-catalog-menu .catalog-section-list > ul > li > a {
    position: relative;
    display: block;
    border:none
}
.left-catalog-menu .catalog-section-list .menu-arrow {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 35px;
    height: 100%;
    color: #0f0f0f;
    background: #fff url('/local/templates/main-responsive/img/menu-arrow-down.png') 50% 23px no-repeat;
}
.left-catalog-menu .catalog-section-list .menu-arrow.opening {
    font-size: 18px;
    font-weight: 700;
    color: #0f0f0f;
    background: #fff url('/local/templates/main-responsive/img/menu-arrow-up__gray.png') 50% 23px no-repeat;
}
.left-catalog-menu .catalog-section-list li a {
    font-size: 18px;
    display: block;
    padding: 14px 35px 14px 21px;
    color: #0f0f0f;
}
.left-catalog-menu .catalog-section-list li a:hover {
    color: #ffb400;
}
.left-catalog-menu .catalog-section-list li a.active {
    font-weight:500;
    color: #0f0f0f!important;
    cursor:default
}
.left-catalog-menu .catalog-section-list > ul > li > ul {
    display: none;
}
.left-catalog-menu .catalog-section-list > ul > li > ul.active {
    display: block;
}
.left-catalog-menu .catalog-section-list li ul,
.left-catalog-menu .catalog-section-list li li {
    padding-left: 0;
    border: none;
}
.left-catalog-menu .catalog-section-list li li a {
    font-size: 16px;
    font-weight: 300;
    padding: 6px 20px 6px 21px;
    color: #0f0f0f;
    border:none
}
.left-catalog-menu .catalog-section-list li a:hover,
.left-catalog-menu .catalog-section-list li a:active,
.left-catalog-menu .catalog-section-list li a:focus {
    text-decoration: none;
}

/* ***** RIGHT-BAR ******* */
.right-catalog {
    float: left;
}
.right-catalog h1 {
    font-size: 25px;
    font-weight: 500;
    margin: 16px 0 20px 0;
    color: #0f0f0f;
}
.right-catalog .section-img {
    margin: 0;
    text-align:center
}
.product-card .right-catalog .section-img img {
    border: 1px solid #e1e1e1;
}
.right-catalog .section-descr {
    font-size: 16px;
    font-weight: 300;
}
.catalog-logos-block {
    margin-left: 15px;
    padding: 0;
}
.catalog-logos-block li {
    line-height: 89px;
    float: left;
    margin-right: 56px;
    list-style: none;
}
.catalog-logos-block li a {
    display: block;
}

.product-slider .slick-next {
    right: -20px !important;
    background: transparent url(/local/templates/main-responsive/img/next.png) 50% 50% no-repeat !important;
}
.product-slider .slick-prev {
    left: -20px !important;
	background: transparent url(/local/templates/main-responsive/img/prev.png) 50% 50% no-repeat !important;
}
.product-slider .slick-prev, .product-slider .slick-next {
    width: 80px !important;
    z-index: 100 !important;
    height: 80px !important;
}

/* ****** TREE / Sertificates******* */

.sertificates h1 {
    margin-bottom: 45px;
}
.catalog-logos-tree {
    margin-top: 0;
    padding: 0;
    padding-left: 55px;
    
}
.catalog-logos-tree ul,
.catalog-logos-tree li {
    list-style:none!important;
    margin:0!important
}
.catalog-logos-tree.sertificates {
    margin-top: 0;
}
.catalog-logos-tree .catalog-section {
    font-weight: 500;
    position: relative;
    border-bottom: 0;
}
.catalog-logos-tree >li:last-child {
    border-bottom: solid 1px #e1e1e1;
}
.catalog-logos-tree .catalog-section:before {
    position: absolute;
    top: -1px;
    left: -55px;
    display: inline-block;
    width: 55px;
    height: 52px;
    content: ' ';
    vertical-align: middle;
    border: solid 1px #e1e1e1;
    background-color: #f4f4f4;
}
.catalog-logos-tree .catalog-logos-level2 {
    padding-left: 51px;
}
.catalog-logos-tree .catalog-logos-level2 .catalog-section:before {
    left: -52px;
    width: 52px;
}
.catalog-logos-tree .catalog-section.closed:before {
    background: #f4f4f4 url('img/toggle-open.png') 50% no-repeat;
}
.catalog-logos-tree .catalog-section.opened:before {
    background: #f4f4f4 url('img/toggle-close.png') 50% no-repeat;
}
.catalog-logos-tree > li > a {
    background: #f4f4f4;
}
.catalog-logos-tree li {
    list-style-type: none;
}
.catalog-logos-tree a {
    display: block;
    padding: 15px 22px;
    color: #0f0f0f;
    border: solid 1px #e1e1e1;
}
.catalog-logos-tree a:hover,
.catalog-logos-tree a:active,
.catalog-logos-tree a:focus {
    text-decoration: none;
}
.catalog-logos-tree a:hover i {
    border-bottom: none;
}
.catalog-logos-items {
    padding-left: 0;
    display:none
}
.catalog-logos-items figcaption {
    display:none
}
.catalog-logos-items li a {
    border-top: solid 1px #e1e1e1;
    border-bottom: none;
}
.catalog-logos-items ul,
.catalog-logos-items li {
    list-style:none!important;
    margin:0!important
}
.catalog-logos-items li:first-of-type a {
    border-bottom: none;
}
.catalog-logos-items li:last-of-type a {
    border-bottom: none;
}
.catalog-logos-items i {
    font-style: normal;
    border-bottom: solid 1px #ffb400;
}

/* ******* GRID ************** */

.catalog-grid {
    padding-left: 0;
}
.catalog-grid ul {
    padding: 0;
}
.catalog-grid > li {
    display: inline-block;
    float: none;
    margin: 0 0 50px 0!important;
    list-style:none!important;
}
.catalog-grid__group-title {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 15px;
    color: #0f0f0f;
}
.catalog-grid__item {
    position: relative;
}
.catalog-grid__item-title {
    position: relative;
    overflow: hidden;
    height: 58px;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
    background-color: transparent;
}
.catalog-grid__item-title:before {
    position: absolute;
    top: 40px;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background: #dedede;
}
.catalog-grid__item-title > a {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    display: block;
    max-height: 100%;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    color: #0f0f0f;
    background-color: #fff;
    border:none!important
}
.catalog-grid__item-title > a:hover,
.catalog-grid__item-title > a:focus {
    text-decoration: none;
}
.catalog-grid__item-wrap {
    display: table;
    width: 100%;
    height: 275px;
    padding: 0;
    table-layout: fixed;
    text-align: center;
}
.catalog-grid__item-wrap .catalog-grid__item-tcell {
    display: table-cell;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #e1e1e1;
}
.catalog-grid__item-wrap .catalog-grid__item-tcell a {
    border:none
}
.catalog-grid__item-wrap .catalog-grid__item-tcell img {
    max-width: 100%;
    vertical-align: middle;
}
.catalog-grid__item-addit-select {
    margin-top:8px
}
.catalog-grid__item-addit-select li {
    height: auto;
    margin: 0!important;
}

.catalog-logos-tiles {}
.catalog-logos-tiles .tile {height:250px; margin-bottom:40px; text-align:center; border:1px solid #ccc; padding:15px; overflow:hidden;}
.catalog-logos-tiles .tile:hover {box-shadow:0 0 12px rgba(0,0,0,0.5);}
.catalog-logos-tiles .tile .img {height:150px; margin-bottom:10px; position:relative;}
.catalog-logos-tiles .tile .img img {max-height:100%; max-width:100%; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
.catalog-logos-tiles a {cursor:pointer;}

.catalog-items-list {float:left; clear:both;}
.catalog-items-list .item {height:280px; margin-bottom:40px; text-align:center; border:1px solid #ccc; padding:15px; overflow:hidden;}
.catalog-items-list .item:hover {box-shadow:0 0 12px rgba(0,0,0,0.5);}
.catalog-items-list .item .img {height:150px; margin-bottom:10px;}
.catalog-items-list .item .img img {max-height:100%;}


/* блок напольные покрытия */
.group-prod .section {
    margin-bottom: 50px;
}
.group-prod .catalog-grid li {
    height: auto;
}
.group-prod .catalog-grid li a {
    display: block;
}
.group-prod  .catalog-grid__item-wrap {
    margin-bottom: 10px;
}
.group-prod .catalog-grid__item-title {
    height: 40px;
}
.group-prod .catalog-grid__item-title:before {
    display: none;
}
.catalog-grid__item-addit-select ul li {
    display: inline-block;
    margin-bottom: 0;
}
.catalog-grid__item-addit-select ul li a,
.catalog-grid__item-addit-select ul li a:focus {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    /*margin: 6px 10px 0 0;*/
	margin: 6px 8px 0 0;
    text-decoration: none;
    color: #0f0f0f;
/*     border-bottom: solid 1px transparent; */
	border: solid 1px transparent;
}
.catalog-grid__item-addit-select ul li a:hover {
/* 	border-bottom: solid 1px #ffb400; */
    border: solid 1px #ffb400;
}


.catalog-grid.default_catalog_top > li {
    margin-bottom:40px!important;
    padding:15px 15px;
}

.catalog-grid.default_catalog_top > li:hover {box-shadow:0 0 5px rgba(0,0,0,0.5);}
.catalog-grid.default_catalog_top > li:hover .catalog-grid__item-addit-select ul li a {border-bottom: solid 1px #ffb400;}

/*.catalog-grid.default_catalog_top .catalog-grid__item-title {
    height: 32px  
}
.catalog-grid.default_catalog_top .catalog-grid__item-title> a {
    white-space:nowrap;
    overflow:hidden
}*/

.group-prod .section-img {
    margin: 0;
}
.section-img img {
/*     width: 100%; */
	width:auto;
}
.group-prod .section-descr {
    font-size: 16px;
    font-weight: 300;
    padding-top: 0;
    color: #0f0f0f;
}
.group-prod .section-descr .link-read-more,
.group-prod .section-descr .link-read-more:hover,
.group-prod .section-descr .link-read-more:focus {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-decoration: none;
    color: #a1a1a1;
}
.group-prod .section-descr .link-read-more:hover,
.group-prod .section-descr .link-read-more:focus {
    color: #212121;
}
.group-prod .section-header {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 30px;
    color: #0f0f0f;
}

.group-prod .producer .section-header {
    padding-bottom: 5px;
}

.group-prod .main-logos {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.group-prod .main-logos .logo-item a {
/*     line-height: 100px; */
	line-height: 60px;
    border:none
}
.group-prod .slick-slider {
    margin-bottom: 0;
}
.group-prod .logo-slider.with_padding {
    padding-right: 60px;
    padding-left: 60px;
}


.group-prod .section {
    margin-bottom: 50px;
}
.group-prod .texture .section__item {
    display: inline-block;
    margin-bottom:20px
}
.group-prod .texture .img-wrap {
    overflow: hidden;
    width: 120px;
    height: 120px;
    text-align: center;
}
.group-prod .texture .img-wrap > a {
    display: block;
    height: 100%;
    border:1px solid #e1e1e1;
    position:relative;
}

.group-prod .texture .img-wrap > a span {display:none; position:absolute; top:50%; left:0; width:100%; padding:5px 10px; text-align:center; transform:translate(0, -50%); background-color:rgba(255,255,255,0.5); color:#333;}
.group-prod .texture .img-wrap > a:hover span {display:block;}

.group-prod .texture .section__item .title a,
.group-prod .texture .section__item .title a:focus {
    font-size: 16px;
    font-weight: 300;
    display: block;
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #0f0f0f;
    border:none
}
.group-prod .texture .section__item .title a:hover {
    color:#ffb400
}
.group-prod .type .section__item .title a,
.group-prod .type .section__item .title a:focus {
    font-size: 16px;
    font-weight: 300;
    display: block;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 30px;
    text-decoration: none;
    color: #0f0f0f;
}
.group-prod .type .section__item {
    display: inline-block;
}
.group-prod .type .img-wrap {
    overflow: hidden;
    width: 165px;
    height: 165px;
    text-align: center;
}
.group-prod .collections ul {
    list-style: none;
}
.group-prod .collections .section-img {
    height: 260px;
    text-align:center;
    overflow:hidden
}
.group-prod .collections .section-img a {
    border:none
}
.group-prod .collections .section-img img {
    max-width: 100%;
}
.group-prod .collections .img-wrap {
    overflow: hidden;
    margin: 0 0 15px 0;
    text-align: center;
}
.group-prod .collections .img-wrap > a {
    display: block;
    border:none;
}
.group-prod .collections .img-wrap .articul {
    display:block;
    width:77px;
    margin-top:3px;
}
.group-prod .collections .wrap-btn-more {
    display: inline-table;
    height: 100%;
}
.group-prod .collections .wrap-btn-more__inner {
    display: table-cell;
    width: 100%;
    height: 77px;
    vertical-align: middle;
}
.group-prod .collections .btn-more {
    font-size: 15px;
    font-weight: 400;
    display: block;
    width: 210px;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    color: #0f0f0f;
    border: 2px solid #afafaf;
    -webkit-border-radius: 18px;
       -moz-border-radius: 18px;
            border-radius: 18px;
}
.group-prod .collections .btn-more:hover {
    background:#afafaf;
    color:#fff
}
.group-prod .collections .section-header {
    font-size: 25px;
    font-weight: 300;
    color: #0f0f0f;
    
}
.group-prod .collections .section-header.section-header-with-sizes {
    padding-bottom:5px;
}
.group-prod .collections .sizes_list {
    margin-bottom:15px;
}
.product-card .sizes_list {
    margin-bottom:15px;
    margin-top:-25px
}
.group-prod .collections .section-header a {
    border:none!important
}

.size_item {
    padding:0 15px;
    margin-bottom:15px
}
.group-prod .section-header.size_item_header {
    padding-bottom:15px
}

.right-catalog .groups__title {
    font-weight: 300;
    margin-top: 0;
}
.product-card .section-tile {
    padding: 0;
    margin-left:-15px
}
.product-card .section.detailed-descr {
    margin-bottom: 30px;
}
.product-card .collections .section-img {
    height: 260px;
}
.product-card .collections .section-img img {
    min-width: auto;
    min-height: 100%;
}
.product-card .collections .img-wrap {
    overflow: hidden;
    margin-bottom: 15px;
    text-align: center;
}
.product-card .collections .img-wrap > a {
    display: block;
    border:none;
}
.product-card .collections .img-wrap .articul {
    display:block;
    width:83px;
    margin-top:3px;
}
.product-card .collections .wrap-btn-more {
    display: inline-table;
    height: 100%;
}
.product-card .collections .wrap-btn-more__inner {
    display: table-cell;
    width: 100%;
    height: 77px;
    vertical-align: middle;
}
.product-card .collections .btn-more,
.product-card .collections .btn-more:hover,
.product-card .collections .btn-more:focus {
    font-size: 15px;
    font-weight: 400;
    display: block;
    width: 210px;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    color: #0f0f0f;
    border: 2px solid #afafaf;
    -webkit-border-radius: 18px;
       -moz-border-radius: 18px;
            border-radius: 18px;
}
.product-card .collections .btn-more:hover {
    text-decoration: none;
    border: 2px solid #feb014;
    background-color: #f4f4f4;
}
.product-card .collections .section-header {
    font-size: 25px;
    font-weight: 300;
    color: #0f0f0f;
}
.product-card.right-catalog {
    float: none;
    width: auto;
}
.product-card.right-catalog .section-img {
    margin: 0;
}
.product-card .section {
    margin-bottom: 50px;
}
.product-card .section-header {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 30px;
    color: #0f0f0f;
}
.product-card .text-block {
    margin-bottom: 30px;
}
.product-card .price-block {
    overflow: hidden;
    padding: 20px;
    border: 1px solid #e1e1e1;
}
.price-block__title-price {
    font-size: 25px;
    font-weight: 300;
    float: left;
}
.price-block__number-price {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    position: relative;
    display: block;
    float: right;
    text-align: right;
    color: #333;
}
.price-block__number-price-actual .detail-price__currency {
    padding-left: 5px;
}
.price-block__number-price-last {
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    top: 100%;
    right: 0;
    color: #a1a1a1;
}
.price-block__number-price-lastl .detail-price__currency {
    padding-left: 5px;
}
.product-card .btn-link,
.product-card .btn-link:hover,
.product-card .btn-link:focus {
    font-size: 16px;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #313131;
    border: 2px solid #ffb400;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
}
.product-card .btn-link:hover {
    text-decoration: none;
    border: 2px solid #feb014;
    background-color: #f4f4f4;
}

.product-card .btns_sert_catalog .btn-link {
    display:inline-block;
    margin-right:10px
}

.product-card .btn_after_descr .btn-link {
    display:inline-block;
    padding: 5px 15px;
}
.product-card .btn_after_descr {
    margin:10px 0 20px 0
}
.producer .producer__descr {
    /*margin-bottom: 74px;*/margin-bottom: 24px;
}
.producer .producer__prod {
    text-align: left;
}
.producer .producer__prod a {
    display: block;
    border:none
}
.producer .producer__prod img {
    max-width: 100%;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
}
.producer .producer__prod img:hover {
    max-width: 100%;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}
.producer .main-logos {
	margin-top: 20px;
    margin-bottom: 35px;
}
.table-char {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    table-layout: fixed;
}
.table-char th {
    font-size: 18px;
    font-weight: 400;
    /*width: 33.33%;*/
    padding: 20px;
    text-align: center;
    color: #7c7c7c;
    border: 1px solid #e1e1e1;
    background-color: #f4f4f4;
}
.table-char td {
    font-size: 16px;
    font-weight: 400;
    /*width: 33.33%;*/
    padding: 20px;
    color: #0f0f0f;
    border: 1px solid #e1e1e1;
}
.table-char.tc_small {
    table-layout:auto
}
.table-char.tc_small th,
.table-char.tc_small td {
    padding:10px 5px;
    font-size:14px;
}
.table-char.tc_small th:nth-child(1),
.table-char.tc_small th:nth-child(1),
.table-char.tc_small td:nth-child(1),
.table-char.tc_small td:nth-child(2) {
    padding:10px 2px;
}
.catalog-descript p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 25px;
    color: #0f0f0f;
}
.catalog-descript-pict {
    float:left;
    margin:0 15px 15px 0
}


/* ВЫПОЛНЕННЫЕ ПРОЕКТЫ */
.projects .projects-list {
    padding: 0 0 15px 0;
    border: 1px solid #e1e1e1;
}
.projects-list h1 {
    font-size: 25px;
    font-weight: 500;
    width: 263px;
    padding: 0 0 13px 20px;
    color: #0f0f0f;
    border-bottom: 1px solid #e1e1e1;
    margin-top:17px;
    margin-bottom:10px
}
.projects .catalog-descript p {
    margin-bottom: 17px;
}
.projects .projects-list ul {
    margin:0
}
.projects .projects-list ul li {
    list-style: none;
    margin:0;
}
.projects .projects-list ul a,
.projects .projects-list ul a:focus {
    font-size: 16px;
    font-weight: 300;
    display: block;
    padding: 6px 20px;
    text-decoration: none;
    color: #8a8989;
    border:none;
}
.projects .projects-list ul a.active {
    color:#000;
    font-weight: 500;
}
.projects .projects-list ul a:hover {
    color:#000;
}
.projects .main-photo {
    overflow: hidden;
    margin-bottom: 35px;
}
.projects .main-photo img {
    max-width: 100%;
    cursor:pointer
}
.projects .project-slider {
    padding-right: 60px;
    padding-left: 60px;
}
.projects .main-logos {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.projects .project-slider .slick-next.slick-disabled,
.projects .project-slider .slick-prev.slick-disabled {
    opacity:0.2!important;
    cursor:default
}
.projects .project-slider .slick-prev {
    left: 20px;
}
.projects .project-slider .slick-next {
    right: 20px;
}
.projects .project_item {
    display:none;
}
.projects .project_item.active {
    display:block
}
.projects .main-logos .project-slider .logo-item a {
    line-height: 0;
    display:block;
    width:122px;
    height:122px;
    border:1px solid #e1e1e1
}
.projects .main-logos .project-slider .logo-item figcaption {
    display:none
}
/* POP-UP Химия */
.white-popup-block {
    width: 940px;
    margin: 0 auto;
    padding: 0;
}
.white-popup-block p {
    margin: 0;
    padding: 0;
}
.white-popup .product-item-popup__wrap {
    padding: 60px 30px 60px 60px;
}
.white-popup .product-img-wrap {
    display: inline-block;
    width: 180px;
    padding-right: 30px;
    padding-left: 15px;
    vertical-align: top;
}
.white-popup .product-img-wrap img {
    max-width: 100%;
}
.white-popup .product-item__header {
    font-size: 25px;
    font-weight: 400;
    display: inline-block;
    width: 660px;
    height: auto;
    vertical-align: top;
    color: #0f0f0f;
    background: #fff;
}
.white-popup .product-item__header .table-char th,
.white-popup .product-item__header .table-char td {
    padding:5px
}
.white-popup .product-item__header h1 {
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    margin: 0 0 10px 0;
    color: #0f0f0f;
}
.white-popup .price-block__number-price-actual {
    font-size: 30px;
    font-weight: 500;
    display: block;
    text-align: left;
    color: #0f0f0f;
}
.white-popup .price-block__number-price-actual .detail-price__currency {
    padding-left: 5px;
}
.white-popup .product-item__descr {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    overflow-y: auto;
    max-height: 310px;
    padding-right: 30px;
}
.product-card .product-item__descr {
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	padding-right: 30px;
}
.white-popup .product-item__table, .product-card .product-item__table {
    width: 100%;
    margin-right: 30px;
    margin-bottom: 30px;
    border-collapse: collapse;
    border: 1px solid #e1e1e1;
}
.white-popup .product-item__table-title, .product-card .product-item__table-title {
    font-size: 18px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #0f0f0f;
}
.white-popup .product-item__table td, .product-card .product-item__table td {
    font-size: 16px;
    font-weight: 300;
    padding: 15px;
    text-align: left;
    color: #0f0f0f;
    border: 1px solid #e1e1e1;
}
.white-popup .product-item__table td:first-child, .product-card .product-item__table td:first-child {
    font-size: 16px;
    font-weight: 400;
    color: #0f0f0f;
}
.white-popup .product-item__btn-wrap {
    padding-top: 35px;
}
.white-popup .customFormSubmitBtn,
.white-popup .product-item__btn-order {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    width: 180px;
    margin-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #313131;
    border: 2px solid #ffb400;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    background-color: #ffb606;
}
.white-popup .customFormSubmitBtn {
    margin-right:0;
    width:100%
}
.white-popup .customFormSubmitBtn:hover,
.white-popup .product-item__btn-order:hover,
.white-popup .product-item__btn-order:focus {
    text-decoration: none;
    background-color: #fff;
}
.white-popup .product-item__btn-sert {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    width: 180px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #313131;
    border: 2px solid #ffb400;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    background-color: #fff;
}
.white-popup .product-item__btn-sert:hover,
.white-popup .product-item__btn-sert:focus {
    text-decoration: none;
    background-color: #ffb606;
}
.white-popup button.mfp-close {
    line-height: 43px;
    top: 18px;
    right: 18px;
    width: 43px;
    height: 43px;
    color: transparent;
}
.white-popup button.mfp-close:after {
    line-height: 43px;
    position: absolute;
    top: 0;
    left: 0;
    width: 43px;
    height: 43px;
    content: '';
    background: #fff url('img/ic-cross-pop.png') 50% no-repeat;
}

/* POP-UP Выбор цвета */
.white-popup.zoom-anim-dialog {
    position: relative;
    max-width: 940px;
}
.white-popup.zoom-anim-dialog .arrow-left {
    position: absolute;
    top: 50%;
    left: -70px;
    display: block;
    width: 36px;
    height: 36px;
    margin-top: -23px;
    content: '';
    background: transparent url('img/ic-arrow-left-pop.png') 50% no-repeat;
}
.white-popup.zoom-anim-dialog .arrow-left:hover,
.white-popup.zoom-anim-dialog .arrow-right:hover {
    cursor: pointer;
}
.white-popup.zoom-anim-dialog .arrow-right {
    position: absolute;
    top: 50%;
    right: -70px;
    display: block;
    width: 36px;
    height: 36px;
    margin-top: -23px;
    content: '';
    cursor: pointer;
    background: transparent url('img/ic-arrow-right-pop.png') 50% no-repeat;
}
.white-popup.zoom-anim-dialog .texture__wrap {
    padding: 0;
}
.white-popup.zoom-anim-dialog .texture__title {
    font-size: 25px;
    font-weight: 300;
    padding: 40px;
    text-align: left;
    color: #0f0f0f;
}
.white-popup.zoom-anim-dialog .texture__title {
    font-size: 25px;
    font-weight: 300;
    padding: 40px;
    text-align: left;
    color: #0f0f0f;
}
.white-popup.zoom-anim-dialog img {
    max-width: 100%;
}
.white-popup.zoom-anim-dialog .texture__footer {
    padding: 40px;
}
.white-popup-block .customForm .form_collection_zakaz .popup_header {
    font-size:22px;
    padding:0 0 10px 0
}
.white-popup-block .customForm .form_collection_zakaz .customFormText {
    font-size:28px;
    margin-top:0
}

/* *************** NEWS ************** */
.news__item {
    margin-bottom: 60px;
}
.news .name {
    margin-bottom: 10px;
}
.news .name a {
    font-size: 20px;
    font-weight:500;
    color:#000;
    border:none
}
.news__item-left-col .img-link {
    border:none
}
.news__item-left-col a.img-link-nofoto{
    display:block;
    height:200px;
    background: transparent url('img/no-photo.png') 50% 50% no-repeat;
    border:none
}
.news-detail .date,
.news .date {
    font-size: 16px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f4f4f4;
}
.news .text {
    margin-top: 20px;
}
.news p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 22px;
}
/*.read-more {
    font-size: 14px;
    font-weight: 300;
    color: #a1a1a1;
    border:none!important
}*/
.read-more:after {
    display: inline-block;
    width: 5px;
    height: 16px;
    margin-left: 8px;
    content: ' ';
    background: url('img/new-arrow.png') 0 8px no-repeat;
}
/*.read-more:hover {
    text-decoration: none;
    color: #ffb400;
}*/
.news-detail .detail_pic {
    float:left;
    margin:0 15px 15px 0
}
/* ***** PAGER ****** */
.quick_next_page {
    margin-top: 46px;
    text-align: center;    
}
.modern-page-navigation {
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}
.quick_next_page a,
.modern-page-navigation span,
.modern-page-navigation a {
    display: inline-block;
    margin: 0 7px;
    border: solid 1px #e1e1e1!important;
    font-size: 16px;
    line-height: 28px;
    min-width: 28px;
    padding:0 6px;
    text-align: center;
    color: #0f0f0f;
}
.quick_next_page a {
    min-width:400px;
    line-height: 38px;
}
.quick_next_page a:hover,
.modern-page-navigation a:hover,
.modern-page-navigation a:active,
.modern-page-navigation a:focus {
    text-decoration: none;
    color: #0f0f0f!important;
    background: #ffb400;
}
.modern-page-navigation span {
    background-color: #f4f4f4;
}
.modern-page-navigation .modern-page-previous,
.modern-page-navigation .modern-page-next {
    display: inline-block;
    width: 32px;
    height: 11px;
    border:none!important;
}
.modern-page-navigation .modern-page-previous {
    background: url('img/left-pager.png') no-repeat!important;
}
.modern-page-navigation .modern-page-next {
    background: url('img/right-pager.png') no-repeat!important;
}
/**************** FOOTER **************/
#footer {
    bottom: 0;
    width: 100%;
    min-height: 165px;
    background: #0f0f0f;
}
footer .container {
    height: 165px;
    background: transparent url(/local/templates/main-responsive/img/bg-lines-footer.png) 500px 100% no-repeat;
    padding-top: 32px;
}

footer .copyright-block small {
    font-size: 14px;
    font-weight: 300;
    color: #4c4c4c;
}
footer .adress-block {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}
footer .contacts-block .phone {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

footer .contacts-block .mail {
    font-size: 16px;
    font-weight: 300;
    color: #feb014;
}

footer .contacts-block .created-by {
    margin-top: 30px;
}

footer .contacts-block .created-by,
footer .contacts-block .created-by a {
    font-size: 14px;
    font-weight: 300;
    color: #4c4c4c;
}

footer .contacts-block .created-by a {
    text-decoration: underline;
}

footer .contacts-block a:hover {
    text-decoration: none;
    color: #feb014;
}

@-webkit-keyframes blink {
    from {
        opacity: .6;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: .6;
    }
}

@-moz-keyframes blink {
    from {
        opacity: .6;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: .6;
    }
}

@-o-keyframes blink {
    from {
        opacity: .6;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: .6;
    }
}

@keyframes blink {
    from {
        opacity: .6;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: .6;
    }
}


/*Кнопка задать вопрос*/
.footerQuestionLink {
    position: fixed;
    z-index: 10;
    top: 220px;
    right: 20px;
    display: block;
    width: 55px;
    height: 55px;
    margin-top: -28px;
    cursor: pointer;
    
}
.footerQuestionLink .footerQuestionLink-icon {
    -webkit-animation: blink  2s infinite ease-in-out;
    -moz-animation: blink  2s infinite ease-in-out;
      -o-animation: blink  2s infinite ease-in-out;
         animation: blink  2s infinite ease-in-out;
    background: transparent url('img/right-quest.png') 50% 50% no-repeat;
    width: 55px;
    height: 55px;    
    position: absolute;
    top: 0;
    right: 0;
    z-index:2
}
.customFormLink:hover .footerQuestionLink-icon {
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
.footerQuestionLink .footerQuestionLink-inner {
    position: absolute;
    top: 6px;
    left: 6px;
    display: block;
    width: 43px;
    height: 43px;
    text-align: right;
    color: #fff;
    background:url(img/ask_question.png) 0 0 no-repeat;
    opacity:0;
    z-index:1
}
.customFormLink:hover .footerQuestionLink-inner {
    height: 195px;
    opacity:1;
}
/*Кнопка задать вопрос --- конец*/

/*ПОИСК*/
.search_window {
    position: fixed;
    left:0;
    top:0;
    z-index:100;
    background:rgba(0,0,0,.85);
    width:100%;
    height:100%;
    opacity:0;
    visibility:hidden
}
.search_window.active {
    opacity:1;
    visibility:visible
}
.search_window .search_window_table {
    width:750px;
    height:100%;
    margin:0 auto;
    display:table;
    table-layout:fixed;
}
.search_window .search_window_table_cell {
    width:750px;
    height:100%;
    vertical-align:middle;
    display:table-cell;
}
.search_window .title {
    font-size:40px;
    color:#fff;
    margin-bottom:30px
}
.search_window .title .close {
    width:43px;
    height:43px;
    display:block;
    float:right;
    background:url(img/search_close.png) 0 0 no-repeat;
    cursor:pointer;
    margin-top:7px
}
.search_window .title .close:hover {
    background:url(img/search_close_h.png) 0 0 no-repeat;
}
.search_window .form-control {
    background:none;
    border: none;
    border-bottom:1px solid #fff;
    font-size:16px;
    color:#fff;
    border-radius:0;
    padding:14px 0;
    margin-bottom:31px;
    height:51px;    
}
.search_window .form-control::-moz-placeholder {
  color: #575757;
  opacity: 1;
}
.search_window .form-control:-ms-input-placeholder {
  color: #575757;
}
.search_window .form-control::-webkit-input-placeholder {
  color: #575757;
}
.search_window .form-control:focus {
    border-bottom:1px solid #feb014;
}
.search_window button {
    background:#feb014;
    color:#000;
    font-size:15px;
    padding:5px 45px;
    border-radius:25px;
}
.search_window button:hover {
    background:#fea900;
}
/*ПОИСК --- конец*/

.islider {
    display: none;
}
.islider.slick-initialized {
    display: block;
}

.isCollectionGroup {
    display:none
}

.well {
	min-height: 20px;
	padding:19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.well2 {
	min-height: 20px;
	padding:19px 19px 0 19px;
	margin:0 15px 20px 15px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}