div.news-list {
    word-wrap: break-word;
}

div.news-list img.preview_picture {
    float: left;
    margin: 0 4px 6px 0;
}

.news-date-time {
    color: #486DAA;
}

.margin0 {
    margin-top: 0;
}

.itemNews,
.imgNews {
    height: inherit !important;
}

.imgNews {
    margin-bottom: 10px;
}

.itemNews {
    margin-bottom: 30px;
}

.advice {
    display: inline-block;
    width: 100%;
    border: 1px solid #dcdee0;
    /*margin-right: 2%;*/
    margin-bottom: 25px;
    padding: 30px 30px 24px 30px;
    vertical-align: top;
    transition: .3s;
}

.adviceimg {
    position: relative;
    -moz-box-shadow: 0 0 25px 9px #eff2f5;
    -webkit-box-shadow: 0 0 25px 9px #eff2f5;
    box-shadow: 0 0 25px 9px #eff2f5;
}

.adviceimgtext {
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 10px 15px;
    font-size: 16px;
    width: 100%;
}

.adviceimg img {
    max-width: 100%;
    float: left;
    width: 100%;
}

.clearfix {
    display: block;
    clear: both;
}

.adviceinfo {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.adviceinfo p {
    display: inline-block;
    width: calc(100% - 140px);
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 17px;
    color: #16162d;
    letter-spacing: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.adviceinfo a {
    display: inline-block;
    width: 107px;
    background: #e6eaed;
    padding: 20px 18px;
    vertical-align: top;

    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #000;
}

.advice:hover {
    border-color: #feb014;
    outline-offset: -2px;
}

.adviceinfo a:hover {
    background: #feb014;
}

@media screen and (max-width: 480px) {
    .advice {
        padding: 0px;
    }

    .adviceinfo {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .adviceinfo {
        flex-direction: column;
        margin-top: 0;
    }

    .adviceinfo>a,
    .adviceinfo>p {
        width: 100%;
    }

    .adviceinfo>a {
        margin-top: 10px;
        padding: 10px 0;
    }
}