input#prbutton {
    padding: 10px 15px;
    background: #feb014;
    border: none;
    border-radius: 5px;
    margin-top: -30px;
    position: absolute;
}
@media print {
#header, #footer, #prbutton, .bx-breadcrumb, form, a.live{display:none !important;}
}