.customForm input.customFormFieldInputText,
.customForm textarea,
.main-projects .item-shadow,
.search_window,
.search_window .title .close,
.search_window .form-control,
.footerQuestionLink .footerQuestionLink-inner,
.customFormLink:hover .footerQuestionLink-icon,
a,button,
input[type="submit"],
input[type="button"] {
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
}
.my-slider-item .my-slider-item__img-cont {
    height: 100vh;
    min-height:700px;
}

.main-menu > li > a, .main-menu > li > span.active {
    transition: color 0.25s ease;
    -webkit-transition: color 0.25s ease;
}
.main-logos .logo-item a,
.main-logos .slick-arrow {
    transition: none;
    -webkit-transition: none;
}