.pk_wrp_comment{
    clear: both;
    overflow: auto;
    padding: 10px;
}
.pk_wrp_comment input[type='checkbox'] {
    float: left;
    margin: 0;
    padding: 0 !important;
    width: auto !important;
    margin-right: 10px;
}
.pk_wrp_comment a{
    font-size: 12px;
    float: left;
    text-transform: none;
    width: 80%;
    color: #2AC64F;
    line-height: 13px;
    text-align: left;
}
.pk_wrp_comment a:hover{
    color: #0CA02F;
}
.pk_wrp_comment.error a{
    color:#F44336;
}
