.bx_catalog_item a{
    text-decoration: none;
}
.catalog_list_home  .btn{
    line-height: inherit!important;
    width: 100px!important;
}
.item-list .item .product_img, .section_element .item .product_img{
    /*background-size: inherit!important;*/
}