/*служебные стили - НЕ РЕДАКТИРОВАТЬ!!!*/
.customForm {
    position:relative;
    padding: 0;
    font-size: 14px;
}
.customForm .customFormErrors div, .customForm .successText,.customForm .hiddenAnyText { display: none }
.customFormFields {
    margin-top:20px;
}
.white-popup .alert-success i {
    margin-right:10px;
    font-size:18px
}
/*Уведомление об успешной отправке формы*/
.customForm .successText {
    position:absolute;
    left:-5px;
    top:-3px;
    margin: -7px 0 0 0;
    width:100%;
    height:100%;
    z-index:10
}
.customForm .successText span {
    display:table-cell;
    vertical-align:middle;
    width:100%;
    height:100%;
}    
/*Уведомление об успешной отправке формы --- конец*/
    
/*Уведомление об ошибках*/
.customForm .customFormErrors {
    position:absolute;
    left:0;
    width:100%;
    display:none;
    z-index:10
}
.customForm .customFormErrors:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
/*Уведомление об ошибках --- конец*/

/*СЛУЖЕБНЫЕ СТИЛИ --- конец******************************************************************************************************/


/*ЗАГОЛОВОК формы*/
.customForm .customFormName {
	color: #3b3634;
	font-size: 26px;
	text-align: center;
}
.white-popup-block .customForm .customFormName {
    text-align: center;
    font-size: 32px;
}
@media (max-width: 767px) {
    .white-popup-block .customForm .customFormName {
        font-size:24px    
    }
    #customFormPopupContainer .customFormSubmitBtn {
        white-space:normal
    }
}
@media (max-width: 480px) {
    #customFormPopupContainer .customFormSubmitBtn {
        width:100%
    }
}
/*ЗАГОЛОВОК формы --- конец*/

/*ПОЯСНЯЮЩИЙ ТЕКСТ формы*/
.customForm .customFormText { 
    font-size: 16px;
}
.white-popup-block .customForm .customFormText {
    color: #222;
    line-height: inherit;
    font-size: 14px;
    margin: 10px 0 0 0;
    font-weight: normal;
    text-align:left
}
/*ПОЯСНЯЮЩИЙ ТЕКСТ формы --- конец*/

/*ПОЛЯ****************/
    /*ЗАГОЛОВОК поля*/
    .customForm .customFormFieldTitle {
    	margin: 15px 0 10px 0;
    	text-align: left;
        font-weight:bold;
    }
    /*ЗАГОЛОВОК поля --- конец*/
    
    /*ТЕЛО поля*/
    .customForm .customFormFieldBody {
    	margin: 0 0 10px 0;
    }
    /*ТЕЛО поля --- конец*/    
    
    /*ТЕКСТОВЫЕ ИНПУТЫ*/
    .customForm input.customFormFieldInputText,.customForm textarea {
        display: block;
        width: 100%;
        border:none;
        border-bottom:2px solid #ccc;
        -webkit-box-shadow:none;
        box-shadow:none;
        border-radius:0;
        padding-left:0;
        padding-right:0
    }
    .customForm input.customFormFieldInputText:focus,
    .customForm textarea:focus {
        border-bottom:2px solid #ffb400;
    }
    .customForm textarea {
    	min-height: 80px;
        resize:vertical;
    }
    /*Textarea --- конец*/
    
   
    #customFormPopupContainer .form-btn-block {
        text-align:center;
        margin-top:25px
        
    }
/*ПОЛЯ*************** --- конец*/

/*Ошибка*/
    /*Инпут с ошибкой*/
    .customForm input.customErrorField,
    .customForm textarea.customErrorField {
    	border-bottom: 2px solid red!important;
    }
    /*Инпут с ошибкой --- конец*/
    
    /*Блок ошибки*/
    .customForm .customFormErrors div {
    	margin-bottom: 5px;
    }
    .customForm .customFormErrors {
        background: #1e1e1e;
        padding: 12px;
        position: absolute;
        border-radius: 10px;
        opacity: 1;
        color: #fff;
        font-size: 14px;
        text-align: center;
        z-index: 10;
        width: 270px;
        line-height: 1;   
        left:50%;
        margin-left:-135px     
    }
    .customForm .customFormErrors:after {
    	border-color: rgba(30, 30, 30, 0);
    	border-top-color: rgb(30, 30, 30);
    	border-width: 10px;
    	margin-left: -10px;
    }    
    /*Блок ошибки --- конец*/
/*Ошибка --- конец*/

/*Уведомление об успешной отправке формы*/
.customForm .successText span {
    text-align:center;
    font-size:16px;
}
/*Уведомление об успешной отправке формы --- конец*/


.white-popup-block.request_popup {
    padding:45px 60px 30px;
    width:500px
}

.white-popup-block.request_popup .request_success {
    font-size:20px
}